{% extends 'base.html' %}
<main>
{%block content%}

<section class="px-2 py-5">
 
    <div class="m-4">
        <div class="card" style="max-width: 500px;">
            <div class="row g-0">
                <div class="col-sm-5" style="width: 200px;height: 300px;">
                    <img src="{%if flower.image_url%} {{flower.image_url}} {%else%} /static/img/unavailable.png {%endif%}" alt="image" class="image rounded">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        
                        <h5 class="card-title">{{flower.common_name}}</h5>
                        <p class="card-text">Family: {{flower.family}}</p><br>
                        <p class="card-text">Scientific Name: {{flower.scientific_name}}</p><br>
                        <p class="card-text">Genus: {{flower.genus}}</p><br>
                        <a href="#" class="btn btn-primary stretched-link">BACK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content%}
</main>